body {
  background-color: darkgray;
  font-family: Verdana, Helvetica, sans-serif;
  color: white;
}

.form {
  position: absolute;
  top: 25%;
  left: 30%;
  width: 40%;
  border-radius: 10px;
  background-color: lightgray;
  
}

#login{
  padding: 50px;
  text-align: center;
}

.message {
  background-color: dimgray;
  padding: 10px;
  border-radius: ;
  border-top-left-radius:  10px;
  border-top-right-radius:  10px;
}

.error_msg {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}

#input_data {
  height: 70px;
}

.label{
  color: dimgray;
  display: inline-block;
  float: left;
  clear: left;
  width: 50%;
  text-align: right;
  margin: 5px;
}
.input {
  background-color: white;
  border-style: solid;
  border-color: dimgray;
  border-radius: 5px;
  display: inline-block;
  float: left;
  margin: 5px;
  width: 150px;
}

#zerozero {
  background-color: lightgray;
  color: dimgray;
  border: none;
  border-radius: 5px;
  display: inline-block;
  float: left;
  margin: 4px;
  width: 20px;
}

#submit {
  margin: 5px;
  background-color: dimgray;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.registration_links{
  background-color: dimgray;
  padding: 5px;
  border-bottom-left-radius:  10px;
  border-bottom-right-radius:  10px;
}

a:link, a:visited {
  background-color: dimgray;
  color: black;
  padding: 5px;
  margin: 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

a:hover, a:active {
  background-color: lightgray;
}

#register{
  padding: 50px;
  text-align: center;
}

#register_data {
  height: 100px;
}

#register_data_venue {
  height: 260px;
}

#working{
  width: 50px;
}

#search_select {
  margin-right: 30px;
  background-color: white;
  border-style: solid;
  border-color: dimgray;
  border-radius: 5px;
}

#search{
  height: 110;
}

.main{
  margin-top: 20px;
  padding-left: 30px;
  padding-top: 1px;
  padding-bottom: 10px;
  border-radius: 15px;
  background-color: dimgray;
}

#find{
  background-color: darkgray;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

#organizator {
  
}

hr{
  border-top: 1px solid darkgray;
  margin-right: 30px;
}

#venue_name {
  color: white;
  margin-left: 0px;
  padding-left: 0px;
}

.single_venue_sections{
  margin-top: 10px;
  display: inline-block;
}

#edit_label {
  display:inline-block;
  width: 200px;
}